html, body {
	height: 100%;
}

ul#flex-container {
	list-style-type: none; /* remove default bullet points */
	margin: 0; padding: 0; /* remove default margin and padding */
	display: flex; /* create the flexbox container */

	flex-direction: row;
	/* Other flex direction values:
		- row: default;
		- row-reverse: display child elements in reverse order;
		- column: display vertically across screen;
		- column: display vertically across screen in reserve order;
	*/
	flex-wrap: wrap;
	/* Ensures elements to be wrapped on single line or not. Wrapping of single element
		is based on the width property of specific element. 

		Other values:
		- no-wrap: default behavior, elements never get put on line below when
			view port gets too small
		- wrap: elements will move to next below when view port gets too small
		- wrap-reverse: wrapped elments will show up above instead, when space runs out
	*/
	justify-content: space-around;
	/*
		Other values:
		- flex-end: aligns everything to the right;
		- flex-start: is default, align left
		- flex-center
		- space-between
		- space-around
	*/
}

ul li {
	width: 100px;

	height: 150px;
	padding-top: 45px;
	color: #fff;
	font-weight: bold;
	font-size: 2.2em;
	text-align: center;
}

ul li:first-child { background: #c2d775; }
ul li:nth-child(2) { background: #007278; }
ul li:nth-child(3) { background: #c7b600; }
ul li:nth-child(4) { background: #a90077; }
ul li:nth-child(5) { background: #00a378;}
ul li:last-child { background: #00ea72; }
