html, body {
	height: 100%;
}

ul#flex-container {
	list-style-type: none; /* remove default bullet points */
	margin: 0; padding: 0; /* remove default margin and padding */
	display: flex; /* create the flexbox container */
}

ul li {
	flex-grow: 1; /* This will align every child element equally, horizontally.

					It takes all childs elements and give all a ration of 1 towards each other,
					so that they all will end up with the same width.
				  */

	height: 150px;
	padding-top: 45px;
	color: #fff;
	font-weight: bold;
	font-size: 2.2em;
	text-align: center;
}

ul li:first-child { background: #c2d775; }
ul li:nth-child(2) { background: #007278; }
ul li:nth-child(3) { background: #c7b600; flex-grow:2; } /* gives this specific element more width */
ul li:nth-child(4) { background: #a90077; }
ul li:nth-child(5) { background: #00a378; flex-grow:5; } /* also more width for this one */
ul li:last-child { background: #00ea72; }
