html, body {
	height: 100%;
	background: #1c1c1c;
}

a:hover {
	color:gray;
}

header {
	display: flex;
	background: #000;
	padding-top: 10px;
	justify-content: space-around;
	flex-flow:wrap;
}

.child {
	flex-grow:1;
}

ul{
	list-style-type:none;
	display: flex;
	flex-flow: row wrap;
	margin: 0; padding: 0;
}

ul li {
	flex-grow:1;
	text-align: center;
	width: 100px;
}

ul li a {
	color: #fff;
	font-size: .9em;
	text-transform: uppercase;
}
